_site
.sass-cache
.DS\_Store
.jekyll-cache
config.codekit
**/local/
**/bak/
**/inprog/
**/assign/
**/src*/
**/*master/
**/umich/
**/*cs50*/
**/*uto*/
**/prompt/
**/book/
**/ppt/
**/bootcamp/
**/dm/
**/orig/
**/self/
**/reading/
**/6-causal/
*.pdf
*.py
*.csv
*.ipynb
*.zip
*.txt
*template*
*temp*
*.ppt*
*.doc*